parameters:
	ignoreErrors:
		-
			message: "#^Constant AUTH_KEY not found\\.$#"
			count: 1
			path: includes/Settings/ProviderSettings.php

		-
			message: "#^Constant SECURE_AUTH_KEY not found\\.$#"
			count: 1
			path: includes/Settings/ProviderSettings.php

		-
			message: "#^Parameter \\#1 \\$parent_slug of function add_submenu_page expects string, null given\\.$#"
			count: 1
			path: includes/Admin/DevToolsPage.php

		-
			message: "#^Action callback returns Plume\\\\Core\\\\Plugin but should not return anything\\.$#"
			count: 1
			path: plume.php
